@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a mi sitio web</h1>
    <p>Aprende acerca de <a href="https://platzi.com/cursos/git-github/">Git y GitHub</a>.</p>
</div>
